.current-time {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFF;
    background: #4B5B68;
    margin-top: 20px;
    padding: 5px 0;
    width: 300px;
    height: 25px;
    font-size: 12px;
    color: white;
}

.work-time {
    display: flex;
    margin-top: 25px;
    box-sizing: border-box;
    gap: 15px;
    justify-content: space-between;
}

.page-config {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.attendance-time {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 180px;
    box-sizing: border-box;
    padding: 15px;
    gap: 10px;
}

.total-attendance-time {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.attendance-info {
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    margin-top: 30px;
}

.attendance-btn {
    width: 65px;
    height: 30px;
    background-color: #738A9D;
    border: 1px solid #c1c1c1;
    font-weight: bold;
}

.attendance-btn:hover {
    background-color: #4B5B68;
    color: white
}

.work-history {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
}

.work-hostory-date {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

