.sheet0 {
	position:absolute;

	left: 0;
	top: 0;
	max-width: 1100px;
	border-collapse: collapse;
	page-break-after: always;
	margin-top: 30px;
	border: 1px solid black;
}

.sheet0 td {
	background-color: white;
}

.gridlines td {
	border: 1px dotted black;
}

.gridlines th {
	border: 1px dotted black;
}

.b {
	text-align: center;
}

.e {
	text-align: center;
}

.f {
	text-align: right;
}

.inlineStr {
	text-align: left;
}

.n {
	text-align: right;
}

.s {
	text-align: left;
}

.style0 {
	vertical-align: bottom;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '돋움';
	font-size: 11pt;
	background-color: white;
}

.style1 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: none #000000;
	font-weight: bold;
	color: #000000;
	font-family: '나눔명조';
	font-size: 15pt;
	background-color: white;
}

.style2 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	font-weight: bold;
	color: #000000;
	font-family: '나눔명조';
	font-size: 15pt;
	background-color: white;
}

.style3 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: none #000000;
	font-weight: bold;
	color: #000000;
	font-family: '나눔명조';
	font-size: 15pt;
	background-color: white;
}

.style4 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	font-weight: bold;
	color: #000000;
	font-family: '나눔명조';
	font-size: 18pt;
	background-color: white;
}

.style5 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	color: #000000;
	font-family: '나눔명조';
	font-size: 10pt;
	background-color: white;
}

.style6 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '나눔명조';
	font-size: 10pt;
	background-color: white;
}

.style7 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '나눔명조';
	font-size: 10pt;
	background-color: white;
}

.style8 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '나눔명조';
	font-size: 10pt;
	background-color: white;
}

.style9 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	color: #000000;
	font-family: '나눔명조';
	font-size: 10pt;
	background-color: white;
}

.style10 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	color: #000000;
	font-family: '나눔명조';
	font-size: 10pt;
	background-color: white;
}

.style11 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '나눔명조';
	font-size: 10pt;
	background-color: white;
}

.style12 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	color: #000000;
	font-family: '나눔명조';
	font-size: 10pt;
	background-color: white;
}

.style13 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '나눔명조';
	font-size: 10pt;
	background-color: white;
}

.style14 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '나눔명조';
	font-size: 10pt;
	background-color: white;
}

.style15 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '나눔명조';
	font-size: 10pt;
	background-color: white;
}

.style16 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	border-right: none #000000;
	color: #000000;
	font-family: '나눔명조';
	font-size: 10pt;
	background-color: white;
}

.style17 {
	vertical-align: middle;
	text-align: center;
	border-bottom: none #000000;
	border-top: 1px solid #000000 !important;
	border-left: none #000000;
	color: #000000;
	font-family: '나눔명조';
	font-size: 10pt;
	background-color: white;
}

.style18 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: none #000000;
	color: #000000;
	font-family: '나눔명조';
	font-size: 10pt;
	background-color: white;
}

.style19 {
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	border-bottom: none #000000;
	border-top: none #000000;
	border-left: none #000000;
	color: #000000;
	font-family: '나눔명조';
	font-size: 10pt;
	background-color: white;
}

.style20 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: 1px solid #000000 !important;
	border-right: none #000000;
	font-weight: bold;
	color: #000000;
	font-family: '나눔명조';
	font-size: 15pt;
	background-color: white;
}

.style21 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: none #000000;
	border-right: none #000000;
	font-weight: bold;
	color: #000000;
	font-family: '나눔명조';
	font-size: 15pt;
	background-color: white;
}

.style22 {
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #000000 !important;
	border-top: none #000000;
	border-left: none #000000;
	font-weight: bold;
	color: #000000;
	font-family: '나눔명조';
	font-size: 15pt;
	background-color: white;
}

.sheet0 .col0 {
	width: 8.13333324pt;
}

.sheet0 .col1 {
	width: 8.13333324pt;
}

.sheet0 col {
	width: 42pt;
}

.sheet0 tr {
	height: 18pt;
}
